* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

html,
body {

    background-color: #000;
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    text-rendering: optimizeLegibility;
    height: 100vh;
}

body {
    border: 4px solid #fff;
}

.home-link:link,
.home-link:visited {
    position: absolute;
    color: #fff;
    font-size: 100%;
    text-decoration: none;
    margin-left: 1rem;
    margin-top: 1rem;
    border: 2px solid white;
    padding: 0.7rem;
    border-radius: 2rem;
    transition: 0.3s;
}

.home-link:hover,
.home-link:active {
    color: #000;
    background-color: white;
}


.container {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    /*justify-content: space-around;*/
}

.hero {
    width: 90%;
    display: flex;
    margin-top: 1%;
    margin-bottom: 2%;
    justify-content: center;

}

.hero h1 {
    font-family: 'Montserrat', sans-serif;
    padding: 0.3rem;
    font-weight: 500;
    font-size: 350%;
    text-transform: uppercase;
    text-align: center;
}

#pain-form {
    height: 80%;
    width: 55%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

input[type=email],
textarea {
    width: 70%;
    padding: 1%;
    border-radius: 7px;
    margin-bottom: 3%;
    border: 2px solid #c6c6c6;
}

textarea {
    height: 80%;
    background-color: #000;
    color: #fff;
    resize: none;
}

::placeholder {
    color: rgb(230, 230, 230);
}

textarea:focus {
    outline: none;
    border: 3px solid #c6c6c6;

}


input[type=email] {
    text-align: center;
    background-color: #000;
    color: #fff;
}

.submit-btn {
    padding: 0.7rem;
    background-color: #000;
    color: #fff;
    border-radius: 2rem;
    border: 2px solid #c6c6c6;
    outline: none;
    transition: 0.3s;
}

.submit-btn:hover {
    background-color: #fff;
    color: #000;
}

.submit-btn:active {
    background-color: transparent;
    color: transparent;
    outline: none;
}


.heel {
    margin-top: auto;
    margin-bottom: 1em;
}

.heel ul {
    display: flex;
}

.heel li {
    list-style: none;
    margin: 0 0.5vh;
}

.heel a {
    text-decoration: none;
    color: white;
    font-size: 75%;
    transition: 0.2s;
}

.heel a:hover {
    font-size: 100%;
}

@media screen and (max-width: 1024px) {
    .hero h1 {
        padding: 0.3rem;
        font-weight: 500;
        font-size: 300%;
        text-transform: uppercase;
        text-align: center;
        margin-left: 3%;
    }

    #pain-form {
        height: 90%;
        width: 70%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }


}

@media screen and (max-width: 992px) {
    .hero h1 {
        padding: 0.3rem;
        font-weight: 500;
        font-size: 300%;
        text-transform: uppercase;
        text-align: center;
        margin-left: 3%;
    }

}

@media screen and (max-width: 768px) {
    .hero h1 {
        padding: 0.3rem;
        font-weight: 500;
        font-size: 200%;
        text-transform: uppercase;
        text-align: center;
        margin-left: 3%;
    }

    .hero {
        width: 90%;
        display: flex;
        margin-top: 12%;
        margin-bottom: 2%;
        justify-content: center;

    }

    #pain-form {
        height: 90%;
        width: 70%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    input[type=email],
    textarea {
        width: 100%;
        padding: 1%;
        border-radius: 7px;
        margin-bottom: 7%;
        border: 2px solid #c6c6c6;
    }




}

@media screen and (max-width: 480px) {
    .hero h1 {
        padding: 0.3rem;
        font-weight: 500;
        font-size: 170%;
        text-transform: uppercase;
        text-align: center;
    }

    .home-link:link,
    .home-link:visited {
        position: absolute;
        color: #fff;
        font-size: 70%;
        text-decoration: none;
        margin-left: .5rem;
        margin-top: .5rem;
        border: 2px solid white;
        padding: 0.7rem;
        border-radius: 2rem;
        transition: 0.3s;
    }

    .hero {
        width: 80%;
        display: flex;
        margin-top: 12%;
        margin-bottom: 2%;
        justify-content: center;

    }

    #pain-form {
        height: 90%;
        width: 70%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    input[type=email],
    textarea {
        width: 100%;
        padding: 1%;
        border-radius: 7px;
        margin-bottom: 7%;
        border: 2px solid #c6c6c6;
    }



}
