@media only screen and (max-width: 1730px) {
   ::placeholder {
  font-size: 80%;
}
}
@media only screen and (max-width: 1370px) {
   html {
    background-color: #000;
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 18px;
    text-rendering: optimizeLegibility;
    height: 100vh;
    border: 3px solid #fff;
}
    input[type=email],
select,
textarea {
    width: 38%;
    padding: 7px;
    border-radius: 5px;
    border: 2px solid #c6c6c6;
}
}

@media only screen and (max-width: 1250px) {
   html {
    background-color: #000;
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 15px;
    text-rendering: optimizeLegibility;
    height: 100vh;
    border: 3px solid #fff;
}
    input[type=email],
select,
textarea {
    width: 45%;
    padding: 7px;
    border-radius: 5px;
    border: 2px solid #c6c6c6;
    
}
    ::placeholder {
  font-size: 120%;
}
    textarea {
    position: absolute;
    height: 650px;
    top: 49%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #000;
    color: #fff;
    resize: none;
}
    .hero-text-box {
    position: absolute;
    width: 100%;
    top: 14%;
    left: 50%;
    transform: translate(-50%, -50%);
}
    .home-link:link,
.home-link:visited {
    position: absolute;
    color: #fff;
    font-size: 100%;
    text-decoration: none;
    top: 30px;
    left: 30px;
    border: 2px solid white;
    padding: 8px;
    border-radius: 50px;
    transition: 0.3s;
}
}
@media only screen and (max-width: 1080px) {
   html {
    background-color: #000;
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 15px;
    text-rendering: optimizeLegibility;
    height: 100vh;
    border: 3px solid #fff;
}
    input[type=email],
select,
textarea {
    width: 50%;
    padding: 7px;
    border-radius: 5px;
    border: 2px solid #c6c6c6;
    
}
    ::placeholder {
  font-size: 100%;
}
    textarea {
    position: absolute;
    height: 650px;
    top: 49%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #000;
    color: #fff;
    resize: none;
}
    .hero-text-box {
    position: absolute;
    width: 100%;
    top: 14%;
    left: 50%;
    transform: translate(-50%, -50%);
}
    .home-link:link,
.home-link:visited {
    position: absolute;
    color: #fff;
    font-size: 100%;
    text-decoration: none;
    top: 30px;
    left: 30px;
    border: 2px solid white;
    padding: 8px;
    border-radius: 50px;
    transition: 0.3s;
}
}

@media only screen and (max-width: 795px) {
   html {
    background-color: #000;
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 15px;
    text-rendering: optimizeLegibility;
    height: 100vh;
    border: 3px solid #fff;
}
    input[type=email],
select,
textarea {
    width: 65%;
    padding: 7px;
    border-radius: 5px;
    border: 2px solid #c6c6c6;
    
}
    ::placeholder {
  font-size: 100%;
}
    textarea {
    position: absolute;
    height: 650px;
    top: 49%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #000;
    color: #fff;
    resize: none;
}
    .hero-text-box {
    position: absolute;
    width: 95%;
    top: 14%;
    left: 50%;
    transform: translate(-50%, -50%);
}
    .home-link:link,
.home-link:visited {
    position: absolute;
    color: #fff;
    font-size: 100%;
    text-decoration: none;
    top: 30px;
    left: 30px;
    border: 2px solid white;
    padding: 8px;
    border-radius: 50px;
    transition: 0.3s;
}
}
@media only screen and (max-width: 640px) {
   html {
    background-color: #000;
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 15px;
    text-rendering: optimizeLegibility;
    height: 100vh;
    border: 3px solid #fff;
}
    input[type=email],
select,
textarea {
    width: 70%;
    padding: 7px;
    border-radius: 5px;
    border: 2px solid #c6c6c6;
    
}
    ::placeholder {
  font-size: 100%;
}
    textarea {
    position: absolute;
    height: 650px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #000;
    color: #fff;
    resize: none;
}
    .hero-text-box {
    position: absolute;
    width: 95%;
    top: 14%;
    left: 50%;
    transform: translate(-50%, -50%);
}
    .home-link:link,
.home-link:visited {
    position: absolute;
    color: #fff;
    font-size: 100%;
    text-decoration: none;
    top: 30px;
    left: 30px;
    border: 2px solid white;
    padding: 8px;
    border-radius: 50px;
    transition: 0.3s;
}
}

@media only screen and (max-width: 550px) {
   html {
    background-color: #000;
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 13px;
    text-rendering: optimizeLegibility;
    height: 100vh;
    border: 3px solid #fff;
}
    input[type=email],
select,
textarea {
    width: 70%;
    padding: 7px;
    border-radius: 5px;
    border: 2px solid #c6c6c6;
    
}
    ::placeholder {
  font-size: 100%;
}
    textarea {
    position: absolute;
    height: 650px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #000;
    color: #fff;
    resize: none;
}
    .hero-text-box {
    position: absolute;
    width: 95%;
    top: 14%;
    left: 50%;
    transform: translate(-50%, -50%);
}
    .home-link:link,
.home-link:visited {
    position: absolute;
    color: #fff;
    font-size: 100%;
    text-decoration: none;
    top: 30px;
    left: 30px;
    border: 2px solid white;
    padding: 8px;
    border-radius: 50px;
    transition: 0.3s;
}
}