@media (max-width: 1440px) {
    .info-text {
    position: absolute;
    top: 65%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    font-size: 120%;
}
}
@media (max-width: 1336px) {
    .info-text {
    position: absolute;
    top: 67%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    font-size: 120%;
}
}

@media (max-width: 1180px) {
   .info-text {
    position: absolute;
    top: 67%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    font-size: 120%;
} 
    .hero-text-box {
    position: absolute;
    width: 100%;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
}
}

@media (max-width: 1095px) {
    .hero-text-box {
    position: absolute;
    width: 100%;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
}
    .main-nav ul {
    position: absolute;
    text-align: center;
    top: 46%;
    left: 50%;
        transform: translate(-50%, -50%);}
    
}
@media (max-width: 1080px) {
    .hero-text-box {
    position: absolute;
    width: 100%;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
}
    .main-nav ul {
    position: absolute;
    text-align: center;
    top: 46%;
    left: 50%;
    transform: translate(-50%, -50%);
}

}
@media (max-width: 972px) {
    .hero-text-box {
    position: absolute;
    width: 100%;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
}
    .main-nav ul {
    position: absolute;
    text-align: center;
    top: 46%;
    left: 50%;
    transform: translate(-50%, -50%);
}

}
@media (max-width: 770px) {
    
    html {
    background-color: #000;
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 17px;
    text-rendering: optimizeLegibility;
    height: 100vh;
    border: 3px solid #fff;
}

    .hero-text-box {
    position: absolute;
    width: 100%;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
}
    .main-nav ul {
    position: absolute;
    text-align: center;
    top: 46%;
    left: 50%;
    transform: translate(-50%, -50%);
}

}



@media (max-width: 666px) {
    html {
    background-color: #000;
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 15px;
    text-rendering: optimizeLegibility;
    height: 100vh;
    border: 3px solid #fff;
}

    .hero-text-box {
    position: absolute;
    width: 100%;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
}
    .main-nav ul {
    position: absolute;
    text-align: center;
    top: 46%;
    left: 50%;
    transform: translate(-50%, -50%);
}

}
@media (max-width: 580px) {
    html {
    background-color: #000;
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 12px;
    text-rendering: optimizeLegibility;
    height: 100vh;
    border: 3px solid #fff;
}

    .hero-text-box {
    position: absolute;
    width: 100%;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
}
    .main-nav ul {
    position: absolute;
    text-align: center;
    top: 46%;
    left: 50%;
    transform: translate(-50%, -50%);
}

}


/*small phones*/
@media (max-width: 480px) {
    html {
    background-color: #000;
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 10px;
    text-rendering: optimizeLegibility;
    height: 100vh;
    border: 3px solid #fff;
}

    .hero-text-box {
    position: absolute;
    width: 100%;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
}
    .main-nav ul {
    position: absolute;
    text-align: center;
    top: 46%;
    left: 50%;
    transform: translate(-50%, -50%);
}
}
@media (max-width: 375px) {
    html {
    background-color: #000;
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 10px;
    text-rendering: optimizeLegibility;
    height: 100vh;
    border: 3px solid #fff;
}

    .hero-text-box {
    position: absolute;
    width: 100%;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
}
    .main-nav ul {
    width: 80%;
    position: absolute;
    text-align: center;
    top: 46%;
    left: 50%;
    transform: translate(-50%, -50%);
}
}
@media (max-width: 320px) {
    html {
    background-color: #000;
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 10px;
    text-rendering: optimizeLegibility;
    height: 100vh;
    border: 3px solid #fff;
}

    .hero-text-box {
    position: absolute;
    width: 100%;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
}
    .main-nav ul {
    position: absolute;
    text-align: center;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
}
    .btn {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
        
.link-btn:link,
.link-btn:visited {
    color: white;
    text-decoration: none;
    margin-right: 10px;
    border: 2px solid white;
    padding: 8px;
    border-radius: 50px;
    transition: 0.3s;
}
}