@media (max-width: 1336px) {

}
@media (max-width: 1280px) {

}
@media (max-width: 1080px) {
html {
    background-color: #000;
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 30px;
    text-rendering: optimizeLegibility;
    height: 100vh;
    border: 3px solid #fff;
}
}
@media (max-width: 960px) {

}
@media (max-width: 780px) {
    .info-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    font-size: 130%;
    line-height: 50px;
}
    .hero-text-box {
        top:30%;
    }
}
@media (max-width: 640px) {
    .info-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    font-size: 110%;
    line-height: 50px;
}
}
@media (max-width: 480px) {
    html {
    background-color: #000;
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 20px;
    text-rendering: optimizeLegibility;
    height: 100vh;
    border: 3px solid #fff;
}
}
@media (max-width: 414px) {
    html {
    background-color: #000;
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 20px;
    text-rendering: optimizeLegibility;
    height: 100vh;
    border: 3px solid #fff;
}
    .hero-text-box {
        top:25%;
    }
    .info-text {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    line-height: 40px;
    font-size: 120%;
}

}
@media (max-width: 360px) {
    html {
    background-color: #000;
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 20px;
    text-rendering: optimizeLegibility;
    height: 100vh;
    border: 3px solid #fff;
}
    .hero-text-box {
        top:25%;
    }
}
@media (max-width: 320px) {
    html {
    background-color: #000;
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 15px;
    text-rendering: optimizeLegibility;
    height: 100vh;
    border: 3px solid #fff;
}
    .hero-text-box {
        top:30%;
    }
    .info-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    line-height: 30px;
    font-size: 120%;
}

}