* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

html {
    background-color: #000;
    color: #fff;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 20px;
    text-rendering: optimizeLegibility;
}

h1 {
    margin: 0;
    padding: 0;
    font-weight: 700;
    text-transform: capitalize;
    color: aqua;
}